{% extends 'app_proyecto/base.html' %}
{% load static %}

{% block title %}
La Casa del Codigo | Inicio
{% endblock %}

{% block content %}


<!-- Us section -->

<section class="us_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>
        Porqué elegirnos
      </h2>
    </div>

    <div class="us_container ">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'app_proyecto/images/u-1.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Equipos de calidad
              </h5>
              <p>
                Contamos con equipamiento de última generación para garantizar un entrenamiento efectivo y seguro
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'app_proyecto/images/u-4.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Nutrición
              </h5>
              <p>
                Ofrecemos asesoramiento nutricional personalizado para optimizar tus resultados deportivos
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'app_proyecto/images/u-2.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Planes dietéticos
              </h5>
              <p>
                Desarrollamos planes de alimentación adaptados a tus objetivos y estilo de vida
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'app_proyecto/images/u-3.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Entrenamiento
              </h5>
              <p>
                Entrenamiento deportivo especializado con técnicas avanzadas y seguimiento personalizado
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end us section -->

<!-- heathy section -->

<section class="heathy_section layout_padding">
  <div class="container">

    <div class="row">
      <div class="col-md-12 mx-auto">
        <div class="detail-box">
          <h2>
            Mente sana en cuerpo sano
          </h2>
          <p>
            En nuestro gimnasio creemos firmemente en la conexión entre una mente sana y un cuerpo sano. Nuestro enfoque integral combina entrenamiento físico de alta calidad con técnicas de bienestar mental para ayudarte a alcanzar un estado óptimo de salud. No se trata solo de ejercitarse, sino de cultivar una mentalidad positiva y resiliente que te permita enfrentar los desafíos diarios con mayor energía y entusiasmo.
          </p> 
          <p>
            Contamos con programas diseñados para todos los niveles, desde principiantes que buscan mejorar su condición física general hasta atletas avanzados que desean llevar su rendimiento al siguiente nivel. Nuestro equipo de profesionales altamente capacitados está dedicado a guiarte en cada paso de tu viaje hacia una vida más saludable y equilibrada, proporcionando apoyo personalizado y motivación constante para que alcances tus metas.
          </p>
          <p>
            Únete a nuestra comunidad y descubre cómo transformar tu cuerpo y mente de manera sostenible. Estamos aquí para apoyarte en cada etapa de tu progreso, asegurando que alcances tus objetivos de salud y bienestar de manera efectiva y duradera. En nuestro gimnasio, no solo encontrarás un espacio para ejercitarte, sino también un lugar para crecer, aprender y conectar con otros que comparten tu visión de una vida más saludable y plena.
          </p>
          
        </div>
      </div>
    </div>

  </div>
</section>

<!-- end heathy section -->

{% endblock %}